<div ng-include="'views/header.html'"></div>
<div class="container-fluid">
    <div class="row">
        <div ng-include="'views/side-menu.html'"></div>
        <div class="col-md-11 main_container">
            <div class="dashboard_header">
                <div class="dashboard_header_heading pull-left">Smart Contract</div>
                <div class="dashboard_header_right_action pull-right">
                    <button type="button" style="margin-left: 5px;" class="btn btn-default pull-right"> <span class="glyphicon glyphicon-refresh" ng-click="currentStatus();blockChain();"></span> </button>
                    <button type="button" class="btn btn-success pull-right" ng-click="startFun();">Start</button>
                    <input type="text" style="width:70px; margin-right: 5px;display:none;" class="form-control pull-right" id="usr"> </div>
            </div>
<!--
            <div class="alert alert-success alert-dismissable fade in" style="margin-top:1%;" ng-show="successMsg!='start'">
                <a class="close" data-dismiss="alert" aria-label="close">&times;</a>
                <strong>Success!</strong> {{successMsg}}.
            </div>
-->
            <!-- slider start -->
            <div id="myCarousel" class="carousel slide" data-ride="carousel" data-wrap="false" data-interval="false">
                <!-- Wrapper for slides -->
                <div class="carousel-inner carousel_container" role="listbox">
                    <div class="item" ng-class="{active : $index == 0}" ng-repeat="item in dashboardResult">
                        <div class="row">
                            <!-- Box starts here -->
                            <!--{{dashboardResult[$index]}}-->
                            <div class="col-md-4"  ng-repeat="result in dashboardResult[$index]">
                                <div class="info_block"  title="Blocks: {{blnum[result.order_id]}}" ng-class="{info_block_red : result.status == 'Inspection is required',info_block_green : result.status != 'Inspection is required'}">
                                    <div class="table-responsive">
                                        <table class="table table-bordered">
                                            <thead>
                                                <tr>
                                                    <th colspan="2" class="box_header"><span
                                                        class="glyphicon glyphicon-calendar"></span> 
                                                        Order Date: {{result.order_date}} 
                                                    </th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr class="product_data_section">
                                                    <td><span class="box_pro_data_caption">Order
                                                            ID</span>
                                                        <div class="clearfix"></div> <span
                                                        class="box_pro_data_caption_data">{{result.order_id}}</span>
                                                    </td>
                                                    <td><span class="box_pro_data_caption">Product
                                                            Name</span>
                                                        <div class="clearfix"></div> <span
                                                        class="box_pro_data_caption_data">{{result.package_id}}</span>
                                                    </td>
                                                </tr>
                                                <tr class="temprature_data_section">
                                                    <td><span class="box_temp_data_caption">Max
                                                            Temp(C)</span>
                                                        <div class="clearfix"></div> <span
                                                        class="box_temp_data_caption_data">{{result.max_temp}}</span>
                                                    </td>
                                                    <td><span class="box_temp_data_caption">Min
                                                            Temp(C)</span>
                                                        <div class="clearfix"></div> <span
                                                        class="box_temp_data_caption_data">{{result.min_temp}}</span>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td class="inspection_section" colspan="2"><span>Inspection
                                                            Required</span> <span ng-show="result.status=='Inspection is required'" class="inspection_container_data" ng-class="{span_yes : result.status == 'Inspection is required'}">-
                                                            Yes</span>
                                                            <span ng-show="result.status!='Inspection is required'" class="inspection_container_data" ng-class="{span_no : result.status != 'Inspection is required'}">-
                                                            No</span>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td colspan="2" class="goto_details"><span>
                                                         <a ui-sref="dashboardDetails({odid: result.order_id})" style="color:white;">View
                                                            Details</a></span> <span class="glyphicon glyphicon-play-circle"></span>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                            <!-- Box close here -->
                        </div>
                    </div>
                </div>
                <!-- Left and right controls -->
                <a class="control-left-arrow carousel-control navigation_bar" data-target="#myCarousel" role="button" data-slide="prev"> <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span> <span class="sr-only">Previous</span> </a>
                <a class="control-right-arrow carousel-control navigation_bar" data-target="#myCarousel" role="button" data-slide="next"> <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span> <span class="sr-only">Next</span> </a>
            </div>
            <!-- slider end -->

            <!-- slider2 start  -->
            <div class="block_chain_header">
                <h4>Block Chain</h4>
            </div>
            <div class="line_container">
                <div class="pull-right" style="height:20px">
                                                            
                    <div class="indexHandler" style="width:10px;height:10px;background-color:orange;display:inline-block"></div>
                    <span>Block</span>
                </div>
                <div id="mainWrapper01" >
                    <div id="wrapper">
                        <div id="left" class="triggerSlide glyphicon glyphicon-chevron-left block-slide-left"></div>
                        <div id="slider">
                            <div class="block-rule"></div>
                            <div class="contentDiv" ng-repeat="item in dashboardChainResult">
                                <div class="orange-block"   uib-tooltip="Payload:{{toolTipDetails.payload | limitTo:35}}..  Current Hash:{{toolTipDetails.stateHash | limitTo:12}}.. Previous Hash:{{toolTipDetails.previousBlockHash | limitTo:12}}.. &nbsp;&nbsp;{{toolTipDetails.blocktime}}"  ng-repeat="result in dashboardChainResult[$index]" ng-mouseover="chainDetailsFun(result);" ng-mouseout="mouseOut();">{{result}}</div>
                            </div>
                        </div>
                    <div id="right" class="triggerSlide glyphicon glyphicon-chevron-right block-slide-right"></div>
                    </div>
                </div>   
            </div>
            <!-- slider2 end -->
        </div>
    </div>
</div>
<div ng-include="'views/footer.html'"></div>
<!-- Footer End -->
<div class="spinner-overlay" ng-show="displayLoading">
    <div class="spinner-area">
        <i class="fa fa-spinner fa-spin fa-3x fa-fw"></i>
        <span class="sr-only">Loading...</span>
    </div>
</div> 
<div class="spinner-overlay" ng-show="displayLoadingProgress">
        <div class="blk_load blk_load-active"><div class="blk_load-progress" data-progress="{{loadMsg}}" data-progress-text="{{loadMsg}}%" style="-webkit-transform: translate3d({{loadMsg}}%, 0px, 0px); -ms-transform: translate3d({{loadMsg}}%, 0px, 0px); transform: translate3d({{loadMsg}}%, 0px, 0px);"><div class="blk_load-progress-inner"></div></div><div class="blk_load-activity"></div></div>
        <div class="progress"></div>
</div>
