<div class="col-md-1 side_bar nopadding">
    <ul class="nav left_menu">
        <li class="menu_blocks sidebar_list">
            <a ui-sref="dashboard" ><img class="sidebar_image" src="images/icon/dashboard.png" alt="image"> <span class="menu_dashboard">Dashboard</span> </a>
        </li>
        <li class="menu_blocks sidebar_list">
            <a ui-sref="showBlocks" ><img class="sidebar_image" src="images/icon/block.png" alt="image"> <span class="menu_dashboard">Blocks</span> </a>
        </li>
    </ul>
</div>